@charset "utf-8";

body {
  margin: 0;
  padding: 2em 2em;
}

body, input, textarea {
  font-family: "YuMincho", "游明朝",  "Hiragino Mincho ProN", serif;
}

p {
  margin: 0 0 .25em;
}

h2{
  border-bottom: 3px solid black;
}

h3{
background: black;
color: white;
padding:1px 10px;
}

h4{
  border-bottom: 2px solid black;
}

rt{
  color: #4af;
  font-size: 50%;
}

#input {
  width: 90%;
  height: 6em;
  font-size: 100%;
  line-height: 1.5;
}

#output{
  font-family:  "YuMincho", "游明朝", "Hiragino Mincho ProN", serif;
  width: 80%;
  font-size: 160%;
  line-height: 2;
}

.kyocho{
  color: red;
  font-size: 120%;
}

.kakomi{
 border: 4px darkslategray dotted;
 margin:3px;
 padding:1% ;
}

.kanji {
  position: relative;
  background: yellow;
}

.kanji.joyo {
  background: transparent;
}

.kanji.jitai {
  color: red;
}

.kanji2 {
  position: relative;
  background: yellow;
  font-size: 160%;
}

.kanji2.joyo {
  background: transparent;
  font-size: 160%;
}

.kanji2.jitai {
  color: red;
  font-size: 160%;
}

.kanji.shikaru {
  color: black;
}

.kanji.itaijiselect {
  color: red;
}